Workflow.json
{
  "name": "HN Digest - Daily 08:00",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c81356f4-39a4-42be-9330-55ac5898350c",
      "name": "Daily 08:00 Trigger"
    },
    {
      "parameters": {
        "url": "https://hacker-news.firebaseio.com/v0/topstories.json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "a2040924-4c38-46bb-9b55-ce362745a8b7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({\n  json: { storyId: item.json }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "012f9f65-c61f-4807-bc37-9ef756ecc421",
      "name": "Code in JavaScript",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        688,
        0
      ],
      "id": "074afb0b-3a21-498e-9f3f-55a16c36acb2",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        0
      ],
      "id": "ce8c2d6d-b128-4137-8e02-86ffbfa5b83f",
      "name": "Loop 20 Stories"
    },
    {
      "parameters": {
        "url": "=https://hacker-news.firebaseio.com/v0/item/{{ $json.storyId }}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1104,
        208
      ],
      "id": "e0b32029-7e6b-4ae3-ae2a-1d82c68c479c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "90a25518-fd26-4b14-9af5-74fa44c86528",
              "leftValue": "={{ $json.score }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "ffa0c289-95d3-4465-9ebd-2222896651ea",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1104,
        -96
      ],
      "id": "64fc6f42-db27-4dd9-9913-b508185958c3",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1494688355546435604/47Ro8SsFzq5AXigqEreS56FfU-rgInrhsU8K4uTmvQCS6ylVjQXIV1_B7Tmx0qU4G9AP",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('HTTP Request1').item.json.title }} | Score: {{ $('HTTP Request1').item.json.score }} | {{ $('HTTP Request1').item.json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1728,
        -176
      ],
      "id": "c318f969-7346-4d91-903f-cf4c1b0e2857",
      "name": "HTTP Request2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1520,
        -176
      ],
      "id": "96fde625-7a2a-49e9-9755-73ef0b5e86f7",
      "name": "Wait",
      "webhookId": "c3874a2b-d5e6-40c6-ac09-4b066d2e286e"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 08:00 Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop 20 Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop 20 Stories": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Loop 20 Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8b603253-1278-4e3e-adb1-bf57a1d7830e",
  "meta": {
    "instanceId": "ef1e65942df1175acdce6717e8d74e32666f13d087d53bfae6695e1c46dd3468"
  },
  "id": "yfbi7U58WFq9xEcL",
  "tags": []
}
